/* You can add global styles to this file, and also import other style files */
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
a.logo{
    height: 100px;
    width: 300px;
    overflow: hidden;
}

.bg-light{
    background-color: white !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

div.input-group-prepend:hover{

}

/* tool tip */
.tooltip-wrap {
    position: relative;
  }
  .tooltip-wrap .tooltip-content {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 90%;
    right: 5%;
    background-color: #fff;
    padding: .5em;
    width:280px;
    height: 50px;
    background-color: #007bff;
    color: white;
    font-size: small;
    border: 1px black solid;
    border-radius: 5px;
  }
  .tooltip-wrap:hover .tooltip-content {
    display: block;
  }